.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  padding: 0 40px;
}

.navbar .inner-width{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 200px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu{
  border: 1px solid whitesmoke;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.navbar-menu a{
  color: #262626;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
  text-decoration: none;
}

.navbar-menu a:hover{
  color: var(--color1) !important;
}

.sticky{
  background-color: #fff;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 10px;
}

.sticky .logo{
  background-image: url(../img/logo.png);
}

.sticky .navbar-menu{
  border: none;
  padding: 0px;
}

.sticky .navbar-menu a{
  color: #262626;
}

.sticky .menu-toggler span{
  background-color: #111;
}

.sticky button{
  height: 38px;
  width: 30px;
}
.navbar-menu.active::after, button.menu-toggler.active::after{
  display: none;
}
.donate{
  padding: 16px;
  background: var(--color1);
  color: #fff;
  width: 100px;
  margin-left: auto;
  display: block;
  text-align: center;

  i{
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px){

  .logo{
    width: 100px;
  }
  .donate{
    padding: 10px;
  }
  .menu-toggler{
    display: block;
  }

  .inner-width {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--color1);
    top: 0;
    right: -100%;
    max-width: 250px;
    padding: 80px 50px;
    transition: .3s linear;
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-menu a{
    display: block;
    font-size: 2.5rem;
    margin: 30px;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
}

